.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background: white;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-container h2 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.modal-container label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
.required {
  color: red;
  font-weight: bold;
}

.modal-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-actions {
  text-align: center;
  margin-top: 20px;
}

.save-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.save-button:hover {
  background-color: darkorange;
}
