html,
body {
  background-color: #f5f5f5;
}
.App {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
}

.content {
  margin-left: 250px; /* Đảm bảo phần nội dung không bị che khuất bởi Sidebar */
  padding: 20px;
  width: 100%;
}

/* Đảm bảo Navbar luôn ở trên */
.Navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
