/* Container */
.handle-complaints-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f8f8ff;
  border-radius: 8px; /* Bo góc nếu cần */
  margin-right: 200px;
}
.handle-complaints-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
/* Summary Cards */
.summary-cards-handle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.cards {
  width: 30%;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.processing,
.success,
.rejected {
  background-color: #ebe0e0;
}
.File-icon {
  margin-left: 130px;
  color: #f01a0b;
  font-size: 50px;
}
.text-process {
  text-align: center;
  color: #88cde2;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
}
.File-icon-success {
  margin-left: 130px;
  color: #0bf01e;
  font-size: 50px;
}
.File-icon-reject {
  margin-left: 130px;
  color: #1708ec;
  font-size: 50px;
}
/* Action Section */
.actions-handle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input-handle {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-btn-handle,
.export-btn-handle,
.filter-btn-handle {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.delete-btn-handle {
  background-color: #ff6b6b;
}
.delete-btn-handle:hover {
  background-color: #8a2317;
}

.export-btn-handle {
  background-color: #1dd1a1;
}
.export-btn-handle:hover {
  background-color: #048138;
}

.filter-btn-handle {
  background-color: #f39c12;
}
.filter-btn-handle:hover {
  background-color: #a56e14;
}

/* Table */
.complaints-table {
  width: 100%;
  border-collapse: collapse;
}

.complaints-table th,
.complaints-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.complaints-table th {
  background-color: #f2f2f2;
}

.complaints-table a {
  text-decoration: none;
  color: #3498db;
  display: flex;
  align-items: center;
  gap: 5px;
}

.action-buttons-handle button {
  display: flex;
  margin: 10px 5px;
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
.approve-icon,
.reject-icon {
  margin-top: 3px;
}
.approve-btn-handle {
  background-color: #2ecc71;
  font-size: 14px;
}
.approve-btn-handle:hover {
  background-color: #048138;
}

.reject-btn-handle {
  background-color: #e74c3c;
  font-size: 14px;
}
.reject-btn-handle:hover {
  background-color: #8a2317;
}
